@using BlazorApp.Service

<EditForm Model="FossilCooperFormData">
    <label class="form-label">Tank Capacity:</label>
    <InputNumber @bind-Value="FossilCooperFormData.TankCapacity" class="form-control"/>

    <label class="form-label">Km. pr. liter:</label>
    <InputNumber @bind-Value="FossilCooperFormData.KmPrLiter" class="form-control"/>

    <label class="form-label">Gears (0 if automatic):</label>
    <InputNumber @bind-Value="FossilCooperFormData.Gears" class="form-control"/>
</EditForm>

@code{
    [Parameter] public MiniCooper.FossilMiniCooper FossilCooperFormData { get; set; } = new();
}