@using BlazorApp.Service

<EditForm Model="HybridFormData">
    <label class="form-label">Fuel type 1:</label>
    <InputText @bind-Value="HybridFormData.FuelType1"/>

    <label class="form-label">Fuel type 2:</label>
    <InputText @bind-Value="HybridFormData.FuelType2"/>

    <label class="form-label">Tank Capacity:</label>
    <InputNumber @bind-Value="HybridFormData.TankCapacity"/>

    <label class="form-label">Charge Capacity:</label>
    <InputNumber @bind-Value="HybridFormData.ChargeCapacity"/>

    <label class="form-label">Km. pr. liter:</label>
    <InputNumber @bind-Value="HybridFormData.KmPrLiter"/>

    <label class="form-label">Km. pr. kilowatt hour:</label>
    <InputNumber @bind-Value="HybridFormData.KmPrKwh"/>

    <label class="form-label">Gears:</label>
    <InputNumber @bind-Value="HybridFormData.Gears"/>
</EditForm>

@code{
    [Parameter] public MiniCooper.HybridMiniCooper HybridFormData { get; set; } = new();
}