<div class="container text-center" style="background-color: gray;">
    <div class="row align-items-center"> <!-- Aligns items to the center of the row -->
        <div class="col">
            <h5>Kontakt</h5>
            <a href="#">minibasen@gmail.org</a><br>
            <a href="#">minibasen@gmail.org</a><br>
            <a href="#">minibasen@gmail.org</a>
        </div>

        <div class="col">
            <h5>Lær mere</h5>
            <a href="#">Bro1</a><br>
            <a href="#">Bro2</a><br>
            <a href="#">Bro3</a>
        </div>

        <div class="col">
            <h5>Karriere</h5>
            <a href="#">Bro1</a><br>
            <a href="#">Bro2</a><br>
            <a href="#">Bro3</a>
        </div>
    </div>
</div>