@* Top page navbar*@

<nav class="navbar navbar-expand-lg" style="background-color: #012169">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/images/Minibasen Mini.png" alt="Minibasen"/>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#" style="color: white;">Home</a>
                <a class="nav-link" href="/cars" style="color: white;">Cars</a>
                <a class="nav-link" href="/new-car" style="color: white;">New Car Form</a>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        Account
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Log On</a></li>
                        <li><a class="dropdown-item" href="/new-car">New Form Coopers</a></li>
                        <li><a class="dropdown-item" href="/user-coopers">View Personal Coopers</a></li>
                    </ul>
                </div>
            </div>
            <div class="navbar-nav  ms-auto">
                <a class="Login" href="/dashboard" style="color: white;">Login</a>
            </div>
        </div>
    </div>
</nav>