@page "/carproduct/{ModelName}/{carId:int}"
@using BlazorApp.Service
@inject DBService DbService
@inject NavigationManager NavigationManager

<PageTitle>Product Side</PageTitle>

<div id="product_page" style="width: 80%; margin: 0 auto; padding-top: 15px">

@if (fullMiniCooper == null)
{
    <p>Loading...</p>
}
else
{
    <div class="container-fluid" style="width: 80%; margin: 0 auto;">
        <div class="card mb-5" >
            <div id="@fullMiniCooper.GetCarId()" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="/carproduct/@fullMiniCooper.GetModelType()/@fullMiniCooper.GetCarId()">
                            <img src="data:image/png;base64,@fullMiniCooper.GetFirstImage()" class="d-block w-100"
                                alt="HeaderImage">
                        </a>
                    </div>
                    @for (int i = 1; i < fullMiniCooper.GetImages().Count; i++)
                    {
                        <div class="carousel-item">
                            <a href="/carproduct/@fullMiniCooper.GetModelType()/@fullMiniCooper.GetCarId()">
                                <img src="data:image/png;base64,@fullMiniCooper.GetImageByIndex(i)" class="d-block w-100"
                                    alt="sliderImage">
                            </a>
                        </div>
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#@fullMiniCooper.GetCarId()" data-bs-slide="prev">
                    <i class="material-icons custom-prev-icon">arrow_back_ios</i>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#@fullMiniCooper.GetCarId()" data-bs-slide="next">
                    <i class="material-icons custom-next-icon">arrow_forward_ios</i>
                    <span class="visually-hidden">Next</span>
                </button>



                        </div>

                <div class="container text-center card mt-2">
                    <div class="row align-items-start card-body" style="text-align: start;">
                        <div class="col">
                                    <h5 class="card-title fw-bold">@fullMiniCooper.GetModelName()</h5>
                                    <p><span class="fw-bold">Modeltype:</span><br>&emsp;@fullMiniCooper.GetModelType()</p>
                                    <p><span class="fw-bold">Generation: </span><br>&emsp;@fullMiniCooper.GetGeneration()</p>
                                    <p><span class="fw-bold">Drivmiddel:</span><br>&emsp;@fullMiniCooper.GetFuelType()</p>
                                    <p><span class="fw-bold">Geartype:</span><br>&emsp;@fullMiniCooper.GetGearType()</p>
                                    <p><span class="fw-bold">Pris:</span><br>&emsp;@fullMiniCooper.GetPrice().ToString(". kr")</p>
                                </div>
                        <div class="col">
                            <br>
                            <p><span class="fw-bold">Farve:</span><br>&emsp;@fullMiniCooper.GetColor()</p>
                            <p><span class="fw-bold">Kilometertal: </span><br>&emsp;@fullMiniCooper.GetMileage()</p>
                            <p><span class="fw-bold">Max rækkevidde:</span><br>&emsp;@fullMiniCooper.GetMaxRange()</p>
                            <p><span class="fw-bold">Vægt:</span><br>&emsp;@fullMiniCooper.GetWeight()</p>
                            <p><span class="fw-bold">Årlig skat:</span><br>&emsp;@fullMiniCooper.GetYearlyTax().ToString(". kr")</p>
                        </div>
                    </div>
                </div>

                <div class="container text-center card mt-2">
                    <div class="row align-items-start card-body" style="text-align: start;">
                        <div class="col">
                                    <h5 class="card-title fw-bold">Sælgers oplysninger</h5>
                                    <p><span class="fw-bold">Navn:</span><br>&emsp;@user?.Name</p>
                                    <p><span class="fw-bold">E-mail:</span><br>&emsp;@user?.Email</p>
                                    <p><span class="fw-bold">Adresse:</span><br>&emsp;@user?.Address</p>
                                    <p><span class="fw-bold">By:</span><br>&emsp;@user?.City</p>
                        </div>
                    </div>
                </div>




        </div>
    </div>
}
</div>

@code {
     [Parameter] public string? ModelName { get; set; }

    [Parameter] public int carId { get; set; } 
       private MiniCooper.FullMiniCooper? fullMiniCooper;
    private UsersService.User? user;

    protected override async Task OnInitializedAsync()
    {
        fullMiniCooper = await DbService.GetFullMiniCooperById(carId);
        if (fullMiniCooper != null)
        {
            user = await DbService.GetUserByIdAsync(fullMiniCooper.GetUserId());
        }
    }

    private bool IsValidBase64(string base64String)
    {
        Span<byte> buffer = new Span<byte>(new byte[base64String.Length]);
        return Convert.TryFromBase64String(base64String, buffer, out _);
    }
}